.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-bar ul li {
  float: left;
  display: flex;
  padding: 1.7rem 3rem 1.7rem 3rem;
  font-size: 20px;
}

.nav-bar ul li a:hover {
  color: rgb(44, 115, 40);
}

.nav-bar ul li a {
  text-decoration: none;
}

.nav-bar ul li ul li {
  float: none;
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
}

.nav-bar .sub-menu1,
.nav-bar .sub-menu2,
.nav-bar .sub-menu3 {
  position: absolute;
  top: 12rem;
  box-shadow: 0 1px 1px 1px rgba(95, 82, 89, 0.2),
    0 1px 1px 1px rgba(95, 82, 89, 0.1);
  border-top: 5px solid rgb(44, 115, 40);
  z-index: 10;
  background-color: white; /* nếu không đặt background sẽ bị mặc định là transparent*/
}

.nav-bar ul li .fa-sort-down {
  font-size: 1rem;
}

.nav-bar .sub-menu3 {
  display: flex;
  flex-direction: row;
  width: 70%;
  left: 10%;
  padding: 1rem 0 2rem 10rem;
  visibility: hidden;
}

.fourth,
.fifth,
.sixth {
  flex-grow: 1;
}
.nav-bar .sub-menu2 ul {
  padding: 1rem 1rem 2rem 1rem;
}

.nav-bar .sub-menu2 {
  visibility: hidden;
  left: 50%;
}
.nav-bar .sub-menu1 {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  width: 80%;
  left: 10%;
}

.second {
  margin-left: 5%;
}

.first,
.second {
  margin-top: 2%;
  padding-bottom: 2rem;
  flex-grow: 1;
}

.first {
  margin-left: 20%;
}

@keyframes nav-bar-down {
  to {
    top: 14rem;
  }
}

.nav-bar ul li:first-child:hover .sub-menu1 {
  visibility: visible;
  animation: nav-bar-down 350ms forwards;
}

.sub-menu-title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #387732;
}

.nav-bar ul li:nth-child(4):hover .sub-menu2 {
  visibility: visible;
  animation: nav-bar-down 350ms forwards;
}

.nav-bar ul li:nth-child(5):hover .sub-menu3 {
  visibility: visible;
  animation: nav-bar-down 350ms forwards;
}
