.main-content--title {
  margin-top: 9rem;
  text-align: center;
  color: black;
  font-size: 2.7rem;
  font-weight: 300;
}

.main-content__title-image {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.main-content__title--title {
  font-size: 1.4rem;
  text-align: center;
  color: white;
  font-weight: 200;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  margin-top: 0.4rem;
}

.main-content__title-image--background {
  background-image: url("https://cdn.shopify.com/s/files/1/0402/7685/2896/t/2/assets/text-smudge_green_650x.png?v=12239154037719982786");
  height: 4rem;
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-content__sale {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  justify-content: space-around;
}

.sale__content--title {
  font-size: 3.2rem;
  font-weight: 100px;
  color: #7a883d;
  margin-left: -10rem;
  margin-top: 5rem;
  text-align: center;
}

.sale__content--content {
  font-size: 1.6rem;
  width: 40rem;
  text-align: center;
  margin-left: -6rem;
  margin-top: 1.5rem;
  margin-right: 0;
}

.main-content__sale--image img {
  width: 25rem;
  position: relative;
  left: 20%;
}

.main-content__introduce {
  height: 28rem;
  background-color: #889e4c;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.introduce__content-wrapper--content {
  font-size: 1.2rem;
  color: white;
  width: 40rem;
  margin-top: 8rem;
  line-height: 2rem;
  margin-left: 2rem;
}

.introduce--image img {
  width: 35rem;
  margin-top: 3rem;
  margin-left: -2rem;
}

.main-content__detail-product1,
.main-content__detail-product2 {
  height: 30rem;
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
}

.detail-product1__content--title,
.detail-product2__content--title {
  font-size: 2rem;
  color: #7a883d;
  font-weight: 100;
  margin-left: 10rem;
  margin-top: 7rem;
}

.detail-product2__content--title {
  margin-left: 14rem;
}

.detail-product1--image,
.detail-product2--image {
  flex-grow: 1;
}

.detail-product1--image img {
  width: 35rem;
  position: relative;
  left: 16%;
}

.detail-product1__content,
.detail-product1__content {
  flex-grow: 1;
}

.detail-product1__content--detail,
.detail-product2__content--detail {
  width: 40rem;
  font-size: 1.2rem;
  margin-top: 0.7rem;
  text-align: center;
  color: #7a883d;
  line-height: 1.7rem;
  margin-left: 2rem;
}

.detail-product2__content--detail {
  margin-left: 7rem;
}

.detail-product2--image img {
  width: 35rem;
  position: relative;
  left: 10%;
}

.main-content__get-in-touch {
  height: 65rem;
  background-color: #889e4c;
  margin-top: 3rem;
}
